@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-pictures {
  width: 100%;
  height: 50vh;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background: url(/lens8.jpg) no-repeat;
    background-size: cover;
  }
  35% {
    background: url(/lens7.jpg) no-repeat;
    background-size: cover;
  }
  45% {
    background: url(/lens3.jpg) no-repeat;
    background-size: cover;
  }
  55% {
    background: url(/lens2.jpg) no-repeat;
    background-size: cover;
  }
  65% {
    background: url(/lens5.jpg) no-repeat;
    background-size: cover;
  }
  80% {
    background: url(/lens6.jpg) no-repeat;
    background-size: cover;
  }
  90% {
    background: url(/lens4.jpg) no-repeat;
    background-size: cover;
  }
  100% {
    background: url(/lens1.jpg) no-repeat;
    background-size: cover;
  }
}

.text {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 500px;
  height: 50vh;
}
.text-stroke {
  position: absolute;
  bottom: 40px;
  left: 102px;
  -webkit-text-stroke: 0.2px white;
  color: transparent;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
}
.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}
.pic-layout {
  margin-left: 4px;
}
.pic-layout img {
  border-radius: 8px;
}

.pic1 {
  padding-top: 20px;
  width: 270px;
  height: 400px;
}
.pic2 {
  position: absolute;
  top: 0;
  right: 3px;
  width: 220px;
  height: 230px;
  transition: 1s ease;
}
.pic2:hover {
  scale: 1.05;
}
.pic3 {
  position: absolute;
  top: 235px;
  right: 3px;
  width: 220px;
  height: 230px;
}
.pic4 {
  margin-top: 5px;
  width: 270px;
  height: 280px;
}
.pic5 {
  position: absolute;
  top: 469px;
  right: 3px;
  width: 220px;
  height: 400px;
}
.pic6 {
  margin-top: 5px;
  width: 270px;
  height: 350px;
}
.pic7 {
  position: absolute;
  top: 875px;
  right: 3px;
  width: 220px;
}
label {
  font-size: 1em;
}
input {
  backdrop-filter: blur(20px);
}
form {
  background: url(/lens7.jpg) no-repeat;
  background-size: cover;
  background-position-y: 10px;
}




//Footer designs
.footer {
  margin: 0;
  /* border: 1px solid #dcdada; */
  width: 100%;
  height: 60vh;
  position: relative;
  margin-top: 200px;
  /* background: linear-gradient(to right, #121212, #222222); */
  color: #fff;
  padding: 100px 0 30px;
  /* border-top-left-radius: 125px; */
  font-size: 13px;
  line-height: 20px;
  /* border: 1px solid #fff; */
}
.row {
  width: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
  
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 25%;
}
.logos {
  width: 290px;
  margin-bottom: 30px;
}
.col h3 {
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
